<mapper nameSpace="com.whj.dao.UserMapper">
    <!--  sql标识的唯一性 nameSpace.id 即statementId -->

    <!-- 将jdbc查询出来的结果集的数据，set到resultType类中 -->
    <select id="findAll" resultType="com.whj.pojo.User">
        select * from user
    </select>

    <!-- paramterType 参数的传递 占位符使用#{}代替 里面的值必须与实体字段名一致-->
    <select id="findByCondition" resultType="com.whj.pojo.User" paramterType="com.whj.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <update id="updateOne" paramterType="com.whj.pojo.User">
        update user set username = #{username}, password = #{password} where id = #{id}
    </update>

    <insert id="addAnUser" paramterType="com.whj.pojo.User">
        insert into user values(#{id},#{username},#{password},#{birthday})
    </insert>

    <delete id="delUser" paramterType="com.whj.pojo.User">
        delete from user where id = #{id}
    </delete>
</mapper>