<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whj.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="birthday" column="birthday"/>
        <!-- 要封装orderList字段 集合，就要使用collection标签 -->
        <collection
                property="orders"
                ofType="order"
                column="id"
                select="com.whj.mapper.OrderMapper.getByUid"
                fetchType="lazy"
        > <!-- ofType 集合中每个元素-->
        </collection>
    </resultMap>

    <select id="getAllUsers" resultMap="userMap">
        select * from user
    </select>


</mapper>