<mapper nameSpace="shop">
    <!--  sql标识的唯一性 nameSpace.id 即statementId -->

    <!-- 将jdbc查询出来的结果集的数据，set到resultType类中 -->
    <select id="selectList" resultType="com.whj.pojo.Shop">
        select * from shop
    </select>

    <!-- paramterType 参数的传递 占位符使用#{}代替 里面的值必须与实体字段名一致-->
    <select id="selectOne" resultType="com.whj.pojo.Shop" paramterType="com.whj.pojo.Shop">
        select * from shop where id = #{id} and shopname = #{shopname}
    </select>
</mapper>